In [2]:
# Import packages 
import pandas as pd

path = '/home/brian/Documents/CPS/data/clean/'

In [3]:
month, year = 8, 2019

In [22]:
# Retrieve professional certification rate by state
cols = ['MONTH', 'AGE', 'NILFREASON', 'SCHENR', 'RHRWAGE', 
        'PWORWGT', 'MIS', 'PWSSWGT', 'PTECON', 'YEAR']
s = (pd.read_feather(path + f'cps{year}.ft', columns=cols)
       .query('MONTH == @month'))

In [23]:
s.tail(10)

,MONTH,MIS,PWORWGT,PWSSWGT,AGE,SCHENR,PTECON,NILFREASON,RHRWAGE,NCHILDU18,NCHILDU5
354509,8,7,0.0,264.351715,39,0.0,0.0,nan,NaN,2,0
354510,8,7,0.0,217.550903,38,0.0,NaN,Family,NaN,2,0
354511,8,7,0.0,221.782394,7,NaN,NaN,nan,NaN,0,0
354512,8,7,0.0,294.253601,9,NaN,NaN,nan,NaN,0,0
354513,8,5,0.0,309.482391,70,NaN,NaN,Retired,NaN,0,0
354514,8,5,0.0,279.942291,61,NaN,NaN,Retired,NaN,0,0
354515,8,5,0.0,299.197113,31,0.0,0.0,nan,NaN,0,0
354516,8,1,0.0,434.082489,28,0.0,0.0,nan,NaN,0,0
354517,8,1,0.0,308.717987,46,0.0,0.0,nan,NaN,0,0
354518,8,1,0.0,282.855591,80,NaN,0.0,nan,NaN,0,0

In [21]:
s.query('SCHENR == 1 or NILFREASON == "School"').groupby('AGE').PWSSWGT.sum()

AGE
15    3.520032e+06
16    3.841449e+06
17    3.421321e+06
18    2.747450e+06
19    2.194485e+06
20    2.057112e+06
21    1.910485e+06
22    1.247108e+06
23    8.682668e+05
24    7.419134e+05
25    5.094408e+05
26    3.849077e+05
27    3.446566e+05
28    4.509057e+05
29    2.822443e+05
30    3.163091e+05
31    2.521212e+05
32    2.321465e+05
33    2.596568e+05
34    1.668217e+05
35    1.455538e+05
36    1.401091e+05
37    1.321476e+05
38    1.617479e+05
39    1.250719e+05
40    9.465667e+04
41    1.080927e+05
42    7.768204e+04
43    6.356676e+04
44    6.414276e+04
45    7.932714e+04
46    6.413650e+04
47    5.518262e+04
48    7.826501e+04
49    7.421896e+04
50    5.626633e+04
51    5.330617e+04
52    3.375578e+04
53    4.397396e+04
54    8.307822e+04
55    1.773814e+04
56    1.874086e+04
57    1.785886e+03
59    2.334035e+04
61    8.945254e+03
62    1.035460e+04
63    4.393676e+03
64    1.223414e+04
65    1.395759e+03
69    6.932752e+03
71    2.018220e+03
72    2.267987e+03
73    4.464119e+03
75    3.651150e+03
76    4.183856e+03
78    3.777748e+03
79    3.258554e+03
80    7.853220e+03
Name: PWSSWGT, dtype: float32